certifi==2024.07.04
charset-normalizer==3.3.2
defusedxml==0.7.1
docopt==0.6.2
httpie==3.2.2
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
Pygments==2.18.0
PySocks==1.7.1
ratelimit==2.2.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.7.1
setuptools==70.0.0
urllib3==2.2.1
veracode-api-signing==22.3.0
wheel==0.43.0
